body {
  font-family: 'Segoe UI', sans-serif;
}

#chat-box .user {
  text-align: right;
  color: #0dcaf0;
  margin-bottom: 8px;
}

#chat-box .jarvis {
    text-align: left;
    color: #43ed0f;
    margin-bottom: 8px;
    font-size: larger;
}
.bg-jarvis {
    --bs-bg-opacity: 1;
    background-color: rgb(0 0 0 / 55%) !important;
}